@using CayGiaPha.Helper
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Cây Gia Phả</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/kendo.bootstrap-v4.min.css" rel="stylesheet" />
    <link href="~/assets/admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/layout.css" rel="stylesheet" />
    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@
    @*<script src="~/assets/jquery-3.3.1.min.js"></script>*@
    @*<script src="~/assets/Library/jquery.min.js"></script>*@
    
</head>
<body>
    <div class="navbar-fixed-top" style="background-color:darkred;">
        <div class="container">
            <div class="navbar-header">
                <a href='@Url.Action("Index", "Home")'>
                    <img src="~/assets/imgs/cen_bn.jpg" style="height:50px;" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
                    
                    @if (CurrentContext.IsLogged() == true)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false" style="color:hotpink">
                                <i class="fa fa-user" aria-hidden="true"></i>@CurrentContext.GetCurUser().Username
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("Profile", "Account")" style="color:hotpink">
                                        <i class="fa fa-address-book-o" aria-hidden="true"></i>
                                        Setting
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a id="logoutLink" href="javascript:;" style="color:hotpink">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                                        Log out
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("Login","Account")" style="color:hotpink">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                Đăng nhập
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Register","Account")" style="color:hotpink">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                Đăng ký
                            </a>
                        </li>
                    }
                </ul>
                <form id="frmLogout" method="post" action="@Url.Action("Logout","Account")"></form>
            </div>
        </div>
    </div>
    
    @RenderBody()
    
    <div class="container body-content">

        <hr />
        <footer>
            <div class="footer-top">
                <div class="container">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
                        <a href="https://www.facebook.com/groups/2067588206818932/"><i class="fa fa-facebook fa-2x"></i>Facebook</a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
                        <a href="#"><i class="fa fa-twitter fa-2x"></i>Twitter</a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
                        <a href="https://github.com/DoAnCNPMHC2017/17CNPM.HC2017"><i class="fa fa-github fa-2x"></i>Github</a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
                        <a href="#"><i class="fa fa-google-plus fa-2x"></i>Google</a>
                    </div>
                </div>
            </div>
            <div class="container" style="border-top:1px solid grey;">
            </div>
        </footer>
        <div class="copyright">
            <div class="container">
                <div class="row text-center">
                    <p>Quản lý Cây gia phả Việt Nam</p>
                </div>
            </div>
        </div>

        <a href="#" id="top" style="display: inline;">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </a>
    </div>

    <script type="text/javascript">
        $('#logoutLink').on('click', function () {
            $('#frmLogout').submit();
        })
    </script>
    @RenderSection("js", false)
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script src="~/assets/CGP.js"></script>*@
</body>
</html>